.quizz-header{padding-top:24px;padding-bottom:12px;position:static;width:100%;background:linear-gradient(52deg, #00a0e6 0%, #212a72 100%)}.quizz-header .wrapper{display:flex;justify-content:space-between;align-items:center}.quizz-header .wrapper ul{display:flex;align-items:center}.quizz-header .wrapper ul li{position:relative;top:8px}.quizz-header .wrapper ul li:last-child{margin-left:48px;top:0px}
