@font-face{
    font-family: "Azo";
    src:url(../css/fonts/azo-regular.woff2), url(../css/fonts/azo-regular.woff)
}

@font-face{
    font-family: "Azo BoldItalic";
    src:url(../css/fonts/azo-bold_italic.woff2), url(../css/fonts/azo-bold_italic.woff);
}

@font-face{
    font-family: "Azo BlackItalic";
    src:url(../css/fonts/azo-black_italic.woff2), url(../css/fonts/azo-black_italic.woff);
}

@font-face{
    font-family:"Azo Bold";
    src:url(../css/fonts/azo-bold.woff2), url(../css/fonts/azo-bold.woff);
}

@font-face{
    font-family: "Azo Medium";
    src:url(../css/fonts/azo-medium.woff2), url(../css/fonts/azo-medium.woff);
}

body{
    font-family: "Azo";
    font-size: 20px;
    line-height:1.6;
    color: $light-color;
}

.wrapper{
    max-width:1170px;
    margin-right:auto;
    margin-left:auto;
    width:100%;
}

section, header, footer{
    padding-left:5vw;
    padding-right:5vw;
}

.btn{
    background:$secondary-color;
    color:$light-color;
    padding:15px 56px;
    border-radius: 60px;
    font-family:"Azo Bold";
    font-size: 16px;
    line-height:1;
    text-transform: uppercase;
    border: none;
    box-shadow: 0px 10px 10px rgba(34, 31, 81, 0.65);
    
}
