footer{
    background-color: $primary-color;
    .wrapper{
        .footer1{
            display: flex;
            justify-content: space-between;
            background-color: bisque;

            img{
                width: 80px;
                height: 20px;

            }
           nav{
               p{
                   font-size: 15px;
               }
               ul{
                   display: flex;
                   justify-content: space-between;
                   li{
                       margin-right: 30px;

                   }
               }
           }

        }
        .footer2{
            display: flex;
            justify-content: space-between;

            ul{
                display: flex;
                justify-content: space-between;
                li{
                    margin-right: 20px;
                    position: relative;
                    &:after{
                        content:"";
                        background-color: $light-color;
                        position: absolute;
                        width: 1px;
                        height: 15px;
                        right: 0;
                        top: 0;

                    }


                }
            }

        }
        .footer3{
            font-size: 12px;
            color: $light-color;
            

        }

    }
}