header{
    padding-top:40px;
    padding-bottom:40px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 999;
    .wrapper{
        display:flex;
        align-items: center;

        nav{
            flex: 1; 
            ul{
                display:flex;
    
                li{
                    &:nth-of-type(1){
                        margin-left:70px;
                    }
                    margin-right: 50px;
                    padding-bottom:5px;
                    a{
                        text-decoration:none;
                        font-size:20px;
                        color:$light-color;
                        font-weight:bold;

                        &.selected{
                            color:#5BC5F2;
                            position:relative;
                            
                            &:after{
                                content:"";
                                position:absolute;
                                background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(91,197,242,1) 100%);
                                height:3px;
                                width:100%;
                                bottom: -5px;
                                left:0;
                            }
                        }
                    }
                }
            }
        }


        aside{
            ul{
                display:flex;

                li{
                   margin-right:20px;

                   &:nth-of-type(5){
                       margin-right:0;
                       margin-left:20px;
                   }
                }
            }
        }

    }

}