    .quizz-header{
        padding-top: 24px;
        padding-bottom: 12px;
        position:static;
        width:100%;
        background: linear-gradient(52deg, rgba(0,160,230,1) 0%, rgba(33,42,114,1) 100%);
       
        .wrapper{
            display:flex;
            justify-content: space-between;
            align-items: center;
    
            ul{
            display: flex;
            align-items: center;
    
            li{
            position: relative;
            top: 8px;
    
            &:last-child{
                margin-left:48px;
                top: 0px;
            }
            }
            }
        }
    }



